#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fill, 96px);
    gap: 10px;
    width: min(1000px, calc(100vw - 200px));
    margin: auto;
}

.pokedex-entry {
    border: 2px solid black;
    border-radius: 6px;
    min-width: 0;
    width: fit-content;
    display: flex;
}

.pokedex-entry img {
    height: 92px;
}