<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracks - {{site_name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'nav.html' %}
    <main>
        <h1>All Tracks</h1>
        <div id="tracks-list">
            {% for track in tracks %}
            <div class="track-entry">
                <h3>{{track.name}} - {{track.length}} km</h3>
            {% if track.grade == "Hard" %}
                <strong style="color: rgb(255, 72, 72);">(difficult)</strong>
            {% endif %}
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>