<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracks - {{site_name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>
        {% include 'nav.html' %}
        <h1>All Tracks</h1>
        <ol>
        {% for track in tracks %}
            <li>{{track.name}} - {{track.length}} km
            {% if track.grade == "Hard" %}
                <strong>(difficult)</strong>
            {% endif %}
            </li>
        {% endfor %}
        </ol>
    </main>
</body>
</html>